@using GymFlow.Domain.Enums;

@using GymFlow.Domain.DTOs.GymSchedule
@model GymScheduleDTO

@using GymFlow.Domain.Resources.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer

<div class="row g-3 mb-1 mb-2">

    <div class="col-sm-6 col-md-3">
        <label asp-for="Day" class="form-label"></label>
        <select asp-for="Day" class="form-select"
                asp-items="Html.GetEnumSelectList<DayOfWeek>()">
            <option value="" disabled selected>@Localizer["SelectDay"]</option>
        </select>
        <span asp-validation-for="Day" class="text-danger"></span>
    </div>

    <div class="col-sm-6 col-md-3">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" type="time" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>

    <div class="col-sm-6 col-md-3">
        <label asp-for="EndTime"></label>
        <input asp-for="EndTime" type="time" class="form-control" />
        <span asp-validation-for="EndTime" class="text-danger"></span>
    </div>

    <div class="col-sm-6 col-md-3">
        <label asp-for="Gender" class="form-label"></label>
        <select asp-for="Gender" class="form-select"
                asp-items="Html.GetEnumSelectList<Gender>()">
            <option value="" disabled selected>@Localizer["SelectGender"]</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>


</div>